.terraform
aws/.terraform.lock.hcl
aws/.terraform.tfstate.lock.info
aws/terraform.tfstate
aws/terraform.tfstate.backup
aws/production.auto.tfvars
eks/echoserver-ingress.yaml
aws-eks/.terraform.lock.hcl
*.tfvars
*.backup
*.tfstate
